ul.card-text {
    list-style-type: none;
    margin-bottom: 2rem;
    color: black;
}
#item-info {
    color: black;
}

ul.card-text li:first-of-type {
    line-height: 2em;
    font-size: 1.5rem;
    font-weight: bolder;
}

ul.card-text li:last-of-type {
    font-style: italic;
}

.form-control {
    margin-bottom: 0.25rem;
}

.btn-block {
    margin-top: 1.5rem;
}

.error {
    color: red;
    font-weight: bolder;
}